@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

.header {

    &__menu {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__logo {
        width: 7%;
        height: 7%;
    }
    
    &__ul {
        @include flex()
    }
    
    &__li {
        list-style: none;
    }
    }
    